{% extends 'vinylcollector/base_template.html' %}
{% block content %}
<div class="row pt-5">
    <div class="col-md-8 text-center text-md-start mx-auto">
        <div class="text-center">

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
            <form class="d-flex justify-content-center flex-wrap" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input class="btn btn-secondary shadow" type="submit" value="LOG IN"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
                </div>
            </div>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>
    <div class="col-12 col-lg-10 mx-auto">
        <div class="text-center position-relative"></div>
    </div>
</div>


{% endblock %}