{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div class="row pt-5">
    <div class="col-md-8 text-center text-md-start mx-auto">
        <div class="text-center">
            <h2 class="text fw-bold mb-3">{% translate "Please, input your email to reset password" %}</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <input class="form-control border rounded shadow py-2 px-4" placeholder='{% translate "input your email" %}'
                       id={{ form.email }}
                <button class="btn btn-outline-light fs-6 bg-secondary border rounded border-secondary shadow py-2 px-4" type="submit"
                        value="Reset password" style="margin-top: 15px">{% translate "Send me reset password instructions" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}