{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<body>
<div class="row pt-5">
    <div class="col-md-8 text-center text-md-start mx-auto">
        <div class="text-center">
            <h2 class="text fw-bold mb-3">{% translate "The password has been changed" %}!</h2>
        </div>
        <div class="mb-3" align="center">
            <a class="btn btn-outline-light fs-6 bg-secondary border rounded border-secondary shadow py-2 px-4"
                    type="submit" href="{% url 'login' %}">{% translate "LOG IN" %}
            </a>
        </div>
    </div>
    <div class="col-12 col-lg-10 mx-auto">
        <div class="text-center position-relative"></div>
    </div>
</div>
</body>
{% endblock %}