{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div class="row pt-5">
    <div class="col-md-8 text-center text-md-start mx-auto">
        <div class="text-center">
            {% if validlink %}
        <h3 class="text fw-bold mb-3">{% translate "Please enter (and confirm) your new password" %}</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div align="center">
                <div style="max-width: 600px;">
                <h5 style="text-align: left"><span style="color: red">{{ form.new_password1.errors }}</span></h5>
                <h5 style="text-align: left"><span style="color: red">{{ form.new_password2.errors }}</span></h5>
                </div>
                <div style="margin-top: 10px;max-width: 600px;">
                <h5 style="text-align: left">{% translate "New password" %}:</h5>
                <input class="form-control" style="border-radius: 6px;border: none;height: 40px" {{ form.new_password1 }}</div>
                <div style="margin-top: 10px;max-width: 600px;">
                <h5 style="text-align: left">{% translate "Confirm password" %}:</h5>
            <input class="form-control" style="border-radius: 6px;border: none;height: 40px" {{ form.new_password2 }}</div>
                    <div style="margin-top: 15px"><input class="btn btn-outline-light fs-5 bg-secondary border rounded border-secondary shadow py-2 px-4" type="submit" value="{% translate "Change my password" %}" />
                </div>
        </form>
    {% else %}
        <h1>{% translate "Password reset failed" %}</h1>
        <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}