{% extends 'vinylcollector/base_template.html' %}
{% block content %}
<body>
<div class="row pt-5">
    <div class="col-md-8 text-center text-md-start mx-auto">
        <div class="text-center">
            <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check
                your spam folder.</p>
        </div>
    </div>
    <div class="col-12 col-lg-10 mx-auto">
        <div class="text-center position-relative"></div>
    </div>
</div>
</body>
{% endblock %}