{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div class="col-auto d-flex flex-column" style="max-width: 900px">
    <h2 class="text fw-bold mb-3">{% translate "Join, for creating your own Collection" %}</h2>
    <form method="post">
        {% csrf_token %}
        <div align="center">
            {{ form.as_p }}
        </div>
        <button class="btn btn-primary fs-5 border rounded border-secondary shadow me-2 py-2 px-4" type="submit">{% translate "Sign up" %}
        </button>
    </form>
</div>
{% endblock %}