{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<h2 class="text mb-3">{% translate "Let's add vinyl to your Collection" %}</h2>
<h3 class="text mb-3">{% translate "Please input info of your LP" %}</h3>
<div class="col-auto d-flex flex-column" style="max-width: 900px">
    <div class="text-center position-relative">
        <form method="post" class="vinyl-form rounded">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-light fs-5 bg-secondary border rounded border-secondary shadow py-2 px-4"
                    type="submit" href="/my_collection">{% translate "Add vinyl" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}