{% extends 'vinylcollector/base_template.html' %}
{% block content %}
<div align="middle">
    <img src="{{context.image}}" alt={{context.album}} style="width:500px;height:500px;"/>
    <div class=text_content align="middle">
        <br>
        Artist: <strong>{{ context.artist }}</strong>
        Album: <strong>{{ context.album }}</strong><br>
        Genres: <strong>{{ context.genres }}</strong>
        Styles: <strong>{{ context.styles }}</strong><br>
        Formats, quantity: <strong>{{ context.formats }}</strong> (<strong>{{ context.qty }}</strong>)
        Label: <strong>{{ context.label }}</strong>
        Catalogue number: <strong>{{ context.catalogue_number }}</strong>
        Manufacture region: <strong>{{ context.manufacture_region }}</strong>
        Year: <strong>{{ context.year }}</strong><br>
        Notes: <strong>{{ context.notes }}</strong>
        Average rating: <strong>{{ context.average_rating }}</strong><br>
        Number of owners: <strong>{{ context.owners }}</strong>
        Number of sellers: <strong>{{ context.sell }}</strong>
        Lowest price of LP, USD: <strong>{{ context.lowest_price }}</strong>
    </div>
</div>
{% endblock %}