{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
{% if message == 'edit' %}
<section class="py-4 py-xl-5" style="height: 40px;margin-top: -40px">
        <div class="bg-light border rounded border-0 border-light d-flex flex-column flex-lg-row" style="position: relative;display: block;">
                <h4 class="fw mb-2" style="text-align: center;">{% translate "The LP info has been successfully edited" %}</h4>
        </div>
</section>
{% endif %}
{% if message == 'sell' %}
<section class="py-4 py-xl-5" style="height: 40px;margin-top: -40px;">
        <div class="bg-light border rounded border-0 border-light d-flex flex-column flex-lg-row text-center" style="position: relative;display: block;">
                <h4 class="fw mb-2" style="text-align: center;">{% translate "The LP has been sent for moderation before publication in our " %}<a class="text mb-3" href="https://t.me/vinyl_collector">{% translate "telegram channel" %}</a></h4>
        </div>
</section>
{% endif %}
<div class="container py-4 py-xl-5" style="align-content: center;height: 550px;margin-top: -40px;">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-auto d-flex flex-column" style="alignment: center;margin-top: 30px">
            <img class="border-info rounded fit-cover" style="max-width:500px;max-height:500px;min-width:330px;min-height:330px;"
                 src="{{vinyl.image_url}}" alt="{{vinyl.album}}">
        </div>
        <div class="col-auto d-flex flex-column justify-content-center m-auto p-4" style="alignment: center">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>{% translate "Artist" %}: <strong>{{ vinyl.artist }}</strong><br>
                        {% translate "Album" %}: <strong>{{ vinyl.album }}</strong><br></h4>
                    {% translate "Genres" %}: <strong>{{ vinyl.genres }}</strong><br>
                    {% translate "Styles" %}: <strong>{{ vinyl.styles }}</strong><br>
                    {% translate "Formats, quantity" %}: <strong>{{ vinyl.formats }}</strong> (<strong>{{ vinyl.qty }}</strong>)<br>
                    {% translate "Label" %}: <strong>{{ vinyl.label }}</strong><br>
                    {% translate "Catalogue number" %}: <strong>{{ vinyl.catalogue_number }}</strong><br>
                    {% translate "Manufacture region" %}: <strong>{{ vinyl.manufacture_region }}</strong><br>
                    {% translate "Year" %}: <strong>{{ vinyl.year }}</strong><br>
                    {% translate "Notes" %}: <strong>{{ vinyl.notes }}</strong><br>
                    {% if vinyl.average_rating %}
                    {% translate "Average rating" %}: <strong>{{ vinyl.average_rating }}</strong><br>
                    {% translate "Number of owners" %}: <strong>{{ vinyl.owners_number }}</strong><br>
                    {% translate "Number of sellers" %}: <strong>{{ vinyl.sell_number }}</strong><br>
                    {% translate "Lowest price of LP, $" %}: <strong>{{ vinyl.lowest_price }}</strong>
                    {% endif %}
                </div>
                <div class="col-auto justify-content-center p-1" style="margin-top: 10px;">
                    <form method="get" action="/edit_vinyl/" style="margin-top: 10px">
                        <label hidden>
                            <input name="vinyl_id" value="{{vinyl.id}}">
                        </label>
                        <button class="btn btn-outline-light fs-6 bg-secondary border rounded border-secondary shadow py-2 px-4">
                            {% translate "Edit LP's info" %}
                        </button>
                    </form>
                    <div style="margin-top: 10px">
                    <button onclick="vinylDelete('{{vinyl.id}}', (data)=>{console.log(data)});" class="btn btn-outline-danger fs-6 border rounded border-danger shadow py-2 px-4">
                            {% translate "Delete" %}
                    </button>
                    </div>
                    <form method="get" action="/sell_vinyl/" style="margin-top: 15px">
                        <label hidden>
                            <input name="vinyl_id" value="{{vinyl.id}}">
                        </label>
                        <button class="btn btn-primary fs-6 border rounded border-secondary shadow py-2 px-4">
                            {% translate "Sell the LP" %}
                        </button>
                        <div style="margin-top: 10px">
                        <a class="text mb-3" href="/info_sell">{% translate "How to sell LP" %}?
                        </a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function vinylDelete(vinylId, onSuccess, onError) {
        const url = `/api/vinyls/${vinylId}`
        if (confirm("Вы уверены, что хотите удалить эту пластинку из своей коллекции?") === true) {
            fetch(url, {
                method: 'DELETE',
            })
                .then((response) => response.json())
                .then((data) => {
                    if (onSuccess) {
                        onSuccess(data)
                    }
                })
                .catch((error) => {
                    if (onError) {
                        onError(error)
                    }
                })
            .finally(redirectCollection);
        }

    }

    function redirectCollection() {
        console.log('');
        document.location.href = '/my_collection';
    }
</script>
{% endblock %}