{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div class="container py-4 py-xl-5" style="align-content: center;height: 550px;">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col" style="margin-top: 30px" style="align-content: center">
            <img class="border-info rounded fit-cover" style="width:350px;height:350px;"
                 src="{{vinyl.image_url}}" alt="{{vinyl.album}}">
        </div>
        <div class="col-auto d-flex flex-column justify-content-center m-auto p-4" style="alignment: center">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <form method="post">
                        {% csrf_token %}
                   <label hidden>
                            <input name="vinyl_id" value="{{vinyl.id}}">
                   </label>
                    <div>
                    <h4>{% translate "Artist" %}: <strong>{{ vinyl.artist }}</strong><br>
                        {% translate "Album" %}: <strong>{{ vinyl.album }}</strong><br></h4>
                    {% translate "Genres" %}: <strong>{{ vinyl.genres }}</strong><br>
                    {% translate "Styles" %}: <strong>{{ vinyl.styles }}</strong><br>
                    {% translate "Formats, quantity" %}: <strong>{{ vinyl.formats }}</strong> (<strong>{{ vinyl.qty }}</strong>)<br>
                    {% translate "Label" %}: <strong>{{ vinyl.label }}</strong><br>
                    {% translate "Catalogue number" %}: <strong>{{ vinyl.catalogue_number }}</strong><br>
                    {% translate "Manufacture region" %}: <strong>{{ vinyl.manufacture_region }}</strong><br>
                    {% translate "Year" %}: <strong>{{ vinyl.year }}</strong><br>
                    <label for="vinyl_notes"><strong>{% translate "Notes" %}:</strong></label>
                        <input class="form-control border rounded shadow py-2 px-4" name="vinyl_notes" id="vinyl_notes"
                               value="{{ vinyl.notes }}" style="margin-bottom: 2px">
                    {% translate "Average rating" %}: <strong>{{ vinyl.average_rating }}</strong><br>
                    {% translate "Number of owners" %}: <strong>{{ vinyl.owners_number }}</strong><br>
                    {% translate "Number of sellers" %}: <strong>{{ vinyl.sell_number }}</strong><br>
                    {% translate "Lowest price of LP, $" %}: <strong>{{ vinyl.lowest_price }}</strong>
                        <div>
                            <button class="btn btn-outline-light fs-5 bg-secondary border rounded border-secondary shadow py-2 px-4">
                                {% translate "Edit LP's info" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}