{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="col-auto d-flex flex-column" style="max-width: 600px">
    <h2 class="text fw-bold mb-3">{% translate "What is the vendor code" %}?</h2>
    <table style="text-align: center">
        <tr>
            <th><h5>{% translate "Type of LP" %}</h5></th>
            <th><h5>{% translate "Example" %}</h5></th>
            <th><h5>{% translate "Vendor Code" %}</h5></th>
        </tr>
        <tr>
            <td><h6>{% translate "Modern LP" %}</h6></td>
            <td><img style="max-width: 140px;max-height: 100px;min-width: 70px;min-height: 50px;border-radius: 6px" src="{% static "assets/img/example_1.png" %}"></td>
            <td><h6>602557618280</h6></td>
        </tr>
        <tr>
            <td><h6>{% translate "Balkanton LP" %}</h6></td>
            <td><img style="max-width: 140px;max-height: 100px;min-width: 70px;min-height: 50px;border-radius: 6px" src="{% static "assets/img/example_2.png" %}"></td>
            <td><h6>BTA 12502</h6></td>
        </tr>
        <tr>
            <td><h6>{% translate "USSR LP" %}</h6></td>
            <td><img style="max-width: 140px;max-height: 100px;min-width: 70px;min-height: 50px;border-radius: 6px" src="{% static "assets/img/example_3.png" %}"></td>
            <td><h6>С60 26123 006</h6></td>
        </tr>
        </table>
</div>
<div class="col-auto d-flex flex-column" style="max-width: 250px">
    <a class="btn btn-light fs-5 rounded shadow me-2 py-2 px-4" type="button"
       href="/search" style="margin-top: 15px">{% translate "Back to Search" %}</a>
</div>
{% endblock %}