{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div class="col-auto d-flex flex-column" style="max-width: 600px">
    <h2 class="text fw-bold mb-3">{% translate "How to sell your LP" %}?</h2>
</div>
<div>
    <h5>{% translate "When you click on the sell button, you will be redirected to a page where you will need to fill in the necessary information about the record, its condition, location, desired selling price and method of contacting you. After filling out the form and clicking on the publish button, an ad with your LP will appear in the Telegram channel. After you have sold the record, please write about it in the comments to the ad in the Telegram channel." %}</h5>
</div>
<div>
    <button class="btn btn-light fs-5 rounded shadow me-2 py-2 px-4"
            onclick="javascript:history.back(); return false;" type="submit"
       style="margin-top: 15px">{% translate "Back to LP info" %}</button>
</div>
    {% endblock %}