{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div>
<h4 class="text mb-3">{% translate "It's your Collection" %},
    <strong>{{ user.username }}</strong>!{% blocktranslate %} You have <strong>{{ qty_vinyl }}</strong> LP's, the lowest price of your
    collection is <strong>{{ total_coast }}$</strong>{% endblocktranslate %}</h4>
<div class="card-group row-cols-lg-6" style="margin-left: -20px;margin-right: -20px;">
    {% for vinyl in vinyls %}
    <div class="col gx-5 gy-5">
        <form method="get" action="my_collection/">
            <label hidden>
                <input name="vinyl_id" value="{{vinyl.id}}">
            </label>
            <button class="btn"><img src={{vinyl.image_url}} alt="img"
                                     style="max-width:150px;max-height:150px;min-width:100px;min-height:100px;border-radius: 6px;"></button>
        </form>
        <h6 class="text">
            <strong>{{ vinyl.artist }}</strong>
        </h6>
        <h6 class="text">
            {{ vinyl.album }}
        </h6>
    </div>
    {% endfor %}
</div>
<div>
    {% include "vinylcollector/pagination.html" with page=vinyls %}
</div>
</div>
{% endblock %}

