{% extends 'vinylcollector/base_template.html' %}
{% block content %}
            <div class="row pt-5">
                <div class="col-md-8 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-4 fw-bold mb-5">Let's search the info about yours&nbsp;<span class="underline">LP</span>.</h1>
                        <p class="fs-5 text-muted mb-5"><span
                                style="color: rgb(219, 190, 101); background-color: rgb(20, 22, 24);">Type the vendor code of your LP.<br>NOTICE! For Russian LP, vendor code types in Russian language!!!</span><br><span
                                style="color: rgb(219, 190, 101); background-color: rgb(20, 22, 24);"></span></p>
                        <form class="d-flex justify-content-center flex-wrap" method="get">
                            {% csrf_token %}
                            <div class="shadow-lg mb-3">
                                <label for="vendor_code">
                                <input class="form-control" name="vendor_code" id="vendor_code"
                                       placeholder="input vendor code">
                            </label></div>
                            <div class="shadow-lg mb-3">
                                <button class="btn btn-primary" type="submit">SEARCH</button>
                            </div>
                        </form>
                            <h2 class="display-4 fw-bold mb-5">Or You can add vinyl&nbsp;<span class="underline">Manually</span>.
                            </h2>
                            <a class="btn btn-primary shadow" role="button" href="/add">Add manually</a>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative"></div>
                </div>
            </div>
{% endblock %}