{% extends 'vinylcollector/base_template.html' %}
{% block content %}
{% load i18n %}
<div class="container py-4 py-xl-5" style="align-content: center;height: 550px;margin-top: -40px;">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-auto d-flex flex-column" style="alignment: center;margin-top: 30px">
            <img class="border-info rounded fit-cover" style="max-width:500px;max-height:500px;min-width:330px;min-height:330px;"
                 src="{{vinyl.image_url}}" alt="{{vinyl.album}}">
        </div>
        <div class="col-auto d-flex flex-column justify-content-center m-auto p-4" style="alignment: center">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>{% translate "Artist" %}: <strong>{{ vinyl.artist }}</strong><br>
                        {% translate "Album" %}: <strong>{{ vinyl.album }}</strong><br></h4>
                    {% translate "Formats, quantity" %}: <strong>{{ vinyl.formats }}</strong> (<strong>{{ vinyl.qty }}</strong>)<br>
                    {% translate "Manufacture region" %}: <strong>{{ vinyl.manufacture_region }}</strong><br>
                    {% translate "Year" %}: <strong>{{ vinyl.year }}</strong><br>
                    {% translate "Average rating" %}: <strong>{{ vinyl.average_rating }}</strong><br>
                    {% translate "Lowest price of LP, $" %}: <strong>{{ vinyl.lowest_price }}</strong>
                </div>
                <div>
                    <form method="post" style="margin-top: 15px">
                        {% csrf_token %}
                        <label for="sell_city"></label>
                        <input required class="form-control border rounded shadow py-2 px-4" name="sell_city" id="sell_city"
                               placeholder="{% translate "input your city or town" %}" style="margin-bottom: 2px">
                        <label for="sell_price"></label><input required class="form-control border rounded shadow py-2 px-4"
                                                               name="sell_price" id="sell_price"
                                                               placeholder="{% translate "input price, BYN" %}"
                        style="margin-bottom: 2px">
                        <label for="sell_condition"></label>
                        <select class="form-control border rounded shadow py-2 px-4" name="sell_condition"
                                id="sell_condition" style="margin-bottom: 2px" required>
                            <option value="">{% translate "select condition of the LP" %}:</option>
                            <option value="{% translate "S (Sealed)" %}">{% translate "S (Sealed)" %}</option>
                            <option value="{% translate "M (Mint)" %}">{% translate "M (Mint)" %}</option>
                            <option value="{% translate "NM (Near Mint)" %}">{% translate "NM (Near Mint)" %}</option>
                            <option value="{% translate "EX (Excellent)" %}">{% translate "EX (Excellent)" %}</option>
                            <option value="{% translate "VG (Very Good)" %}">{% translate "VG (Very Good)" %}</option>
                            <option value="{% translate "G (Good)" %}">{% translate "G (Good)" %}</option>
                            <option value="{% translate "F (Fair)" %}">{% translate "F (Fair)" %}</option>
                            <option value="{% translate "P (Poor)" %}">{% translate "P (Poor)" %}</option>
                            <option value="{% translate "B (Bad)" %}">{% translate "B (Bad)" %}</option>
                        </select>
                        <label for="sell_contact_info"></label>
                        <select class="form-control border rounded shadow py-2 px-4" name="sell_contact_info"
                                id="sell_contact_info" style="margin-bottom: 2px" required>
                            <option value="">{% translate "select the way to contact" %}:</option>
                            <option value="{% translate "Phone" %}">{% translate "Phone" %}</option>
                            <option value="{% translate "Telegram" %}">{% translate "Telegram" %}</option>
                            <option value="{% translate "Instagram" %}">{% translate "Instagram" %}</option>
                            <option value="{% translate "Email" %}">{% translate "Email" %}</option>
                        </select>
                        <label for="sell_contact"></label><input required class="form-control border rounded shadow py-2 px-4"
                                                                 name="sell_contact" id="sell_contact"
                                                                 placeholder="{% translate "input your contact" %}"
                        style="margin-bottom: 5px">
                        <label hidden>
                            <input name="vinyl_id" value="{{vinyl.id}}">
                            <input name="vinyl_img" value="{{vinyl.image_url}}">
                            <input name="vinyl_artist" value="{{vinyl.artist}}">
                            <input name="vinyl_album" value="{{vinyl.album}}">
                            <input name="vinyl_price" value="{{vinyl.lowest_price}}">
                            <input name="vinyl_formats" value="{{vinyl.formats}}">
                            <input name="vinyl_qty" value="{{vinyl.qty}}">
                            <input name="vinyl_manufacture_region" value="{{vinyl.manufacture_region}}">
                            <input name="vinyl_year" value="{{vinyl.year}}">
                            <input name="vinyl" value="{{vinyl}}">
                        </label>
                        <div>
                            <button class="btn btn-primary fs-5 border rounded border-secondary shadow py-2 px-4"
                                    type="submit" style="margin-top: 15px">{% translate "Publish in telegram" %}
                            </button>
                            <button class="btn btn-light fs-5 rounded shadow py-2 px-4"
                                    onclick="javascript:history.back(); return false;" type="submit"
                                    style="margin-top: 15px">{% translate "Back to LP info" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}