{% extends 'vinylcollector/base_template.html' %}
{% block content %}
<div class="row pt-5">
    <div class="col-md-8 text-center text-md-start mx-auto">
        <div align="middle">
            <img src={{'static/img/successfully_added.png'}} alt="Successfully added" style="width:500px;height:500px;" /><br></div>
    </div>
    <br>
    <form class="d-flex justify-content-center flex-wrap" method="get">
        <div class="shadow-lg mb-3">
            <br><button class="btn btn-primary"><a class="nav-link active" href="/search">SEARCH ANOTHER LP</a></button>
        </div>
        <br></form>
    <form class="d-flex justify-content-center flex-wrap" method="get">
        <div class="shadow-lg mb-3">
            <button class="btn"><a class="nav-link active" style="color: rgb(13, 40, 94);" href="/my_collection">SHOW MY
                COLLECTION</a></button>
        </div>
    </form>
</div>
{% endblock %}
