<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinyl list</title>
</head>
<body>

    <div style="margin-left: 45% ">
        <p style="font-size: 40px">Here is your collection of LPs</p>
    </div>

    {{% for vinyl in items %}}
    <div style="margin: 30px">
        <div style="border: 1px">
            <div>{{ vinyl.title }}</div>
            <div>{{ vinyl.text }}</div>
            <div>{{ vinyl.created_date }}</div>
            <div>{{ vinyl.image }}</div>
        </div>
    </div>
    {% endfor %}
</body>
</html>