<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Vinyl</title>
</head>
<body>
<h2>Search Vinyl</h2>
<p><strong>NOTICE! For Russian LP, vendor code types in Russian language!!!</strong>
    <br>Get the Info about searching LP, such as Artist, Album, Country, Year, Average price of this LP, etc.
    <br>Input vendor code of LP you have.</p>

<form action="/vinyl_search">
    <label for="vendor_code">Search LP:</label>
    <input type="search" id="vendor_code" name="vendor_code">
    <input type="submit" value="Search">
</form>
</body>
</html>